@using GeneralTemplate.Areas.Identity.Data;
@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Users</h1>
<a asp-action="Create">Add New User</a>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

